.App{ 
  min-width: 500px;
}

.Header {
  display: flex;
  flex-wrap: wrap; 
  background-color: white;
  /* justify-content: space-evenly;
  gap: 0.01em; */
  position: relative;
  /* top: 30px;
  left: 100px;
  width: 1000px; */
}

.menu {
  /* background-color: aqua; */
  position: relative;
  /* margin: 0.75em 2em 0.75em 2em; */
  padding: 60px;
  left: 250px;
}

.Header_info {
  position: absolute;
  top: 170px;
  width: 550px;
  left: 200px;

  /* margin: 0.75em 2em 0.75em 2em; */
}

.Titulo {
  text-align: left;
  font-weight: 700;
  font-size: 60px;
  line-height: 67px;
}

.Header_texto {
  text-align: start;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 1.5px;
  color: #868686;
}

.Logo {
  position: relative;
  left: 250px;
  top: 50px;
  width: 112px;
  height: 36px;
}

.elipse {
  position: relative;
  left: 197px;
  width: 500px;
  height: 620px;
}

.elipse2 {
  position: absolute;
  width: 222px;
  height: 150px;
}

.circle1 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 550px;
  top: 590px;
}
.circle2 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50px;
  top: 450px;
}

.circle1_small {
  position: absolute;
  width: 50px;

  left: 770px;
  top: 150px;
}

.sally1 {
  position: absolute;
  width: 700px;
  height: 700px;
  right: 15px;
  top: 25px;
}

.menu__meta {
  justify-content: space-between;
  align-items: center;
}

/* .menu__tags {
  gap: 100px;
} */

.tag {
  padding: 1em 2em;
  border-radius: 16px;
  font-weight: 600;
}

.Download {
  word-wrap: normal;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f2595e;
  border-color: #f69da1;
  border-width: 3px;
  border-style: solid;
  position: absolute;
  left: 1000px;
  top: 50px;
}

.Download2 {
  word-wrap: normal;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f2595e;
  border-color: #f69da1;
  border-width: 3px;
  border-style: solid;
  position: absolute;
  left: 200px;
  top: 500px;
}

/* .cuadrado {
  width: 500px;
  height: 700px;
  background-color: #f2595e;
} */

.s1Container, .s2__container{
  width: 1080px;
  margin: 100px;
}
.section1, .section2{
  position: relative;
  display: flex;
  flex-flow: space-between;
  padding: 50px;  
  border: 10px solid #90a4ae6b;
  width: 1020px;
}

.section2{
  background: linear-gradient(72.77deg, #EDEEF6 11.72%, rgba(237, 238, 246, 0) 98.52%);
border-radius: 50px;
}
.section1__imageContainer, .s2__imagesContainer{
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.cellphone1, .s2__cellphone{
  position: relative;
  width: 229px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  border-radius: 33.4061px;
  border: 10px solid #90a4ae6b;
  background: linear-gradient(0deg, #DCDEFE, #DCDEFE);
/* product drop shadow */

}

.s1_figures1{
  position: absolute;
  width: 160px;
  left: 26.92%;
  right: 71.01%;
  top: 74.54%;
  bottom: 58.33%;
}

.s1_figures2{
  position: absolute;
  left: -2.46%;
  right: 15.28%;
  top: -1.44%;
  bottom: 1.96%;
  width: 130px;
}

.section1__textContainer, .s2__textContainer{
  margin-top: 30px;
  margin-left: 40px;
  padding: 50px;
  
}

.textContainer__title{
  font-size: 25px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: -20px;
  font-weight: 700;
  font-style: normal;
  size: 24px;
  color: #5956E9;
}

.textContainer__subtitle, .s2__textTitle{
  text-align: left;
  font-weight: 700;
  font-size: 60px;
  line-height: 67px;  
}

.textContainer__text, .s2__textContent{
  text-align: left;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 1.5px;
  width: 500px;
  color: #868686;
}

.s2__circle1{
  width: 100px;
  position: relative;
  left: 400px;
}

.s2__circle2{
  position: absolute;
  right: 95px;
  bottom: 150px;
  width: 370px;   
}

.s2__circle3{
  position: absolute;
  width: 70px;
  left: 580px;
}

.s2__circle4{
  width: 90px;
  position: absolute;
  top: 500px;
  left: 470px;
}


