.Header {
  display: flex;
  /* flex-wrap: wrap; */
  background-color: white;
  /* justify-content: space-evenly;
  gap: 0.01em; */
  position: relative;
  /* top: 30px;
  left: 100px;
  width: 1000px; */
}

.menu {
  /* background-color: aqua; */
  position: relative;
  /* margin: 0.75em 2em 0.75em 2em; */
  padding: 60px;
  left: 250px;
}

.Header_info {
  position: absolute;
  top: 170px;
  width: 550px;
  left: 200px;

  /* margin: 0.75em 2em 0.75em 2em; */
}

.Titulo {
  text-align: left;
  font-weight: 700;
  font-size: 60px;
  line-height: 67px;
}

.Header_texto {
  text-align: start;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 1.5px;
  color: #868686;
}

.Logo {
  position: relative;
  left: 250px;
  top: 50px;
  width: 112px;
  height: 36px;
}

.elipse {
  position: relative;
  left: 197px;
  width: 500px;
  height: 620px;
}

.elipse2 {
  position: absolute;
  width: 222px;
  height: 150px;
}

.circle1 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 550px;
  top: 590px;
}
.circle2 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50px;
  top: 450px;
}

.circle1_small {
  position: absolute;
  width: 50px;

  left: 770px;
  top: 150px;
}

.sally1 {
  position: absolute;
  width: 700px;
  height: 700px;
  right: 15px;
  top: 25px;
}

.menu__meta {
  justify-content: space-between;
  align-items: center;
}

/* .menu__tags {
  gap: 100px;
} */

.tag {
  padding: 1em 2em;
  border-radius: 16px;
  font-weight: 600;
}

.Download {
  word-wrap: normal;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f2595e;
  border-color: #f69da1;
  border-width: 3px;
  border-style: solid;
  position: absolute;
  left: 1000px;
  top: 50px;
}

.Download2 {
  word-wrap: normal;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f2595e;
  border-color: #f69da1;
  border-width: 3px;
  border-style: solid;
  position: absolute;
  left: 200px;
  top: 500px;
}

/* .cuadrado {
  width: 500px;
  height: 700px;
  background-color: #f2595e;
} */
